<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>CLIENT_ID</key>
	<string>442344968402-v7rg27f4ujn93fiojp1807u7termka9l.apps.googleusercontent.com</string>
	<key>REVERSED_CLIENT_ID</key>
	<string>com.googleusercontent.apps.442344968402-v7rg27f4ujn93fiojp1807u7termka9l</string>
	<key>API_KEY</key>
	<string>AIzaSyAAxT8DN6GxvHYxgx5ilMs_hY75BepoUFo</string>
	<key>GCM_SENDER_ID</key>
	<string>442344968402</string>
	<key>PLIST_VERSION</key>
	<string>1</string>
	<key>BUNDLE_ID</key>
	<string>com.project.inway.inway</string>
	<key>PROJECT_ID</key>
	<string>inway212</string>
	<key>STORAGE_BUCKET</key>
	<string>inway212.appspot.com</string>
	<key>IS_ADS_ENABLED</key>
	<false></false>
	<key>IS_ANALYTICS_ENABLED</key>
	<false></false>
	<key>IS_APPINVITE_ENABLED</key>
	<true></true>
	<key>IS_GCM_ENABLED</key>
	<true></true>
	<key>IS_SIGNIN_ENABLED</key>
	<true></true>
	<key>GOOGLE_APP_ID</key>
	<string>1:442344968402:ios:c4807167fe496fa3139d0b</string>
</dict>
</plist>